.App {
  text-align: center;
  padding: 0 100px;

}

.pageContent {
  position: relative;
  width: calc(100vw - 200px);
  height: auto;
  min-height: calc(100vh - 100px);
  background-color: rgba(32, 33, 66, 0.2);
  box-shadow: 1px 1px 5px rgb(32, 33, 66);
  padding: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.addCalc {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #202142;
  color: #fff;
  font-size: 25px;
  line-height: 50px;
  box-shadow: 2px 2px 5px rgb(32, 33, 66);
}
